
@page "/Details/{Id}"

@inject ISuggestionData suggestionData
@inject NavigationManager navManager

<h1>Suggestion Details</h1>

<div>
    <div>
        @if(model is not null)
        {
            <div>
                <div>
                    <div>
                        <div>@GetUpvoteTopText()</div>
                        <span class="oi oi-caret-top"></span>
                        <div>@GetUpvoteBottomText()</div>
                    </div>
                    <div>
                        <div>@model.datecreated.ToString("MM.dd.yyyy")</div>
                    </div>
                </div>
                <div>
                    <div>@model.suggestiontext</div>
                    <div>@*@model.author.DisplayName*@Author Name</div>
                    <div>@model.description</div>
                    <div>@model.category.CategoryName</div>
                </div>
                <div>
                    <button class="btn btn-primary" @onclick="ClosePage">Close</button>
                </div>
            </div>
        }
    </div>
</div>

@if(model?.suggestionstatus is not null)
{
    <div>
        <div>
            <div></div>
            <div>
                <div>
                    @model.suggestionstatus.StatusName
                </div>
                <div>
                    @((MarkupString)model.ownernotes)
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private Suggestion model;

    protected override async Task OnInitializedAsync()
    {
        model = await suggestionData.GetSuggestionAsync(Id);
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }

    private string GetUpvoteTopText()
    {
        if(model.uservotes?.Count > 0)
        {
            return model.uservotes.Count.ToString("00");
        }

        else
        {
            return "Click To";
        }
    }

    private string GetUpvoteBottomText()
    {
        if(model.uservotes?.Count > 1)
        {
            return "Upvotes";
        }

        else
        {
            return "Upvote";
        }
    }
}
