@page "/Profile"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject ISuggestionData suggestionData
@inject IUserData userData
@inject NavigationManager navManager
@using SuggestionAppLibrary.Models


<h1 class="m-1">My Profile</h1>

<div>
    <div>
        <button @onclick="ClosePage" class="btn btn-outline-danger m-1">X here</button>
    </div>
</div>

<div>
    <h2 class="m-1">My Account</h2>
    <p>
        <a href="MicrosoftIdentity/Account/EditProfile">Edit My Profile</a>
    </p>
</div>

@if (approved?.Count > 0)
{

    <div>
        <h2>Approved Suggestions</h2>
        <p>Active suggestions</p>

        @foreach (var s in approved)
        {
            <hr />
            <div>
                @s.suggestiontext
            </div>
            <p>
                @s.datecreated.ToString("MM.dd.yyyy")
            </p>
            <p>
                Total Votes: @*@s.UserVotes.Count*@
            </p>
            <p>
                @s.category.CategoryName
            </p>
            <p>
                @s.description
            </p>
            @if (s.suggestionstatus is not null)
            {
                <div>
                    @s.suggestionstatus.StatusName
                </div>
                <p>
                    @((MarkupString)s.ownernotes)
                </p>
            }

        }
    </div>
}

@if (archived?.Count > 0)
{

    <div>
        <h2>Archived Suggestions</h2>
        <p>Current archived suggestions</p>

        @foreach (var s in archived)
        {
            <hr />
            <div>
                @s.suggestiontext
            </div>
            <p>
                @s.datecreated.ToString("MM.dd.yyyy")
            </p>
            <p>
                Total Votes: @*@s.UserVotes.Count*@
            </p>
            <p>
                @s.category.CategoryName
            </p>
            <p>
                @s.description
            </p>
            @if (s.suggestionstatus is not null)
            {
                <div>
                    @s.suggestionstatus.StatusName
                </div>
                <p>
                    @((MarkupString)s.ownernotes)
                </p>
            }

        }
    </div>

    <div>
        <h2>Rejected Suggestions</h2>
        <p>Current rejected suggestions</p>

        @foreach (var s in rejected)
        {
            <hr />
            <div>
                @s.suggestiontext
            </div>
            <p>
                @s.datecreated.ToString("MM.dd.yyyy")
            </p>
            <p>
                Total Votes: @*@s.UserVotes.Count*@
            </p>
            <p>
                @s.category.CategoryName
            </p>
            <p>
                @s.description
            </p>
            @if (s.suggestionstatus is not null)
            {
                <div>
                    @s.suggestionstatus.StatusName
                </div>
                <p>
                    @((MarkupString)s.ownernotes)
                </p>
            }

        }
    </div>

    <div>
        <h2>Archived Suggestions</h2>
        <p>Current archived suggestions</p>

        @foreach (var s in archived)
        {
            <hr />
            <div>
                @s.suggestiontext
            </div>
            <p>
                @s.datecreated.ToString("MM.dd.yyyy")
            </p>
            <p>
                Total Votes: @*@s.UserVotes.Count*@
            </p>
            <p>
                @s.category.CategoryName
            </p>
            <p>
                @s.description
            </p>
            @if (s.suggestionstatus is not null)
            {
                <div>
                    @s.suggestionstatus.StatusName
                </div>
                <p>
                    @((MarkupString)s.ownernotes)
                </p>
            }

        }
    </div>
}

@code {
    private User loggedInUser;
    private IList<Suggestion> submissions;
    private IList<Suggestion> approved;
    private IList<Suggestion> archived;
    private IList<Suggestion> pending;
    private IList<Suggestion> rejected;

    protected async override Task OnInitializedAsync()
    {
        loggedInUser = await authProvider.GetUserFromAuth(userData);

        var results = await suggestionData.GetUsersSuggestions(loggedInUser.UserId);

        if(loggedInUser is not null && results is not null)
        {
            submissions = results.OrderByDescending(s => s.datecreated).ToList();
            approved = submissions.Where(s => s.approvedforrelease == true && 
                                    s.archived == false && 
                                    s.rejected == false)
                                    .ToList();
            archived = submissions.Where(s => s.archived == true && 
                                    s.rejected == false)
                                    .ToList();
            pending = submissions.Where(s => s.approvedforrelease == false && 
                                    s.rejected == false)
                                    .ToList();
            rejected = submissions.Where(s => s.rejected == true)
                                    .ToList();
        }
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }
}
